{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Usage History</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<h2> </h2	>
<div class="container ">
<table class="table table-bordered table-striped table-hover">
  <tr>
      <th>Month</th>
      <th>Cumulative Monthly Frequency</th>
      <th>TimeStamp</th>
  </tr>
{% for i in data %}    
<tr class ="info">
<td>{{i.month}}</td>
<td>{{i.count}}</td>  
<td>{{i.time_stamp}}</td>  
</tr>
{% endfor %}    	
</table>
</div><br /><br />
</body>
</html>

